<%- include('./includes/head.ejs') %>
    </head>

    <body class="hold-transition skin-blue sidebar-mini">
        <div class="wrapper">
            <%- include('./includes/navigation.ejs') %>
                <!-- Content Wrapper. Contains page content -->
                <div class="content-wrapper">                    

                </div>
                <!-- /.content-wrapper -->
        </div>
        <!-- ./wrapper -->
        <%- include('./includes/footer.ejs') %>
    </body>

    </html>